
  <form fxLayout="column" [formGroup]="truckInfoFormGroup" class="border-dark m-2">
    <mat-card-title>Truck Info</mat-card-title>
    <div class="form-row">
      <mat-form-field class="col">
        <mat-placeholder>Plate Number</mat-placeholder>
        <input type="text" matInput formControlName="plate">
        <mat-error *ngIf="truckInfoFormGroup.get('plate').getError('required')">
          Plate Number can't be empty.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col">
        <mat-placeholder>State</mat-placeholder>
        <input type="text" matInput formControlName="state">
        <mat-error *ngIf="truckInfoFormGroup.get('state').getError('required')">
          State can't be empty
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="col">
        <mat-placeholder>VIN</mat-placeholder>
        <input type="text" matInput formControlName="vin">
        <mat-error *ngIf="truckInfoFormGroup.get('vin').getError('required')">
          VIN Number can't be empty.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col">
        <mat-placeholder>Mileage</mat-placeholder>
        <input type="number" matInput formControlName="mileage">
        <mat-error *ngIf="truckInfoFormGroup.get('mileage').getError('required')">
          Mileage can't be empty
        </mat-error>
      </mat-form-field>
    </div>
  </form>

