<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false" style="width: 20%">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="!auth.user">
        <a mat-list-item routerLink="/login">Login</a>
      </ng-container>
      <ng-container *ngIf="auth.user">
        <a mat-list-item (click)="logout()">Logout</a>
        <a mat-list-item routerLink="/profile">Profile</a>
        <a mat-list-item routerLink="/application">My Applications</a>
        <a mat-list-item routerLink="/message">Message</a>
      </ng-container>
      <ng-container>
        <a mat-list-item routerLink="/trucks">Trucks</a>
        <a mat-list-item routerLink="/orders">Agent Order</a>
        <a mat-list-item routerLink="/admin">Admin</a>
        <a mat-list-item routerLink="/admin/trucks">Admin Trucks</a>
        <a mat-list-item routerLink="/admin/data">Admin Data</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Main@@@@@@@@@@@@@@@@@@@
    <!-- Add Content Here -->
<!--    <router-outlet></router-outlet>-->
  </mat-sidenav-content>
  <ng-content></ng-content>
</mat-sidenav-container>
