<div class="row">
  <div class="col-xl-6 col-lg-12">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/truck-rental-265020.appspot.com/o/Brand%20image.png?alt=media&token=b66e3a7b-3b31-4426-8466-06abc5406451"
      style="width: 120%"/>
  </div>
  <div class="container align-items-center col-xl-6 col-lg-12">
    <form class="form-inline justify-content-center mt-4 " [formGroup]="productsFromGroup" (ngSubmit)="getAvailableTruckModelsByDate()">
      <mat-form-field class="col-3" style="max-width: fit-content">
        <mat-placeholder>Pick Up Date</mat-placeholder>
        <input type="text" matInput [matDatepicker]="pickUpPicker" formControlName="pickUpDate" [min]="minPickUpDate"
               (dateInput)="setMinDate()">
        <mat-datepicker-toggle matSuffix [for]="pickUpPicker"></mat-datepicker-toggle>
        <mat-datepicker #pickUpPicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-3" style="max-width: fit-content">
        <mat-placeholder>Return Date</mat-placeholder>
        <input type="text" matInput [matDatepicker]="returnPikcer" formControlName="returnDate" [min]="minReturnDate"
               (dateInput)="setReturnDate()"
        >
        <mat-datepicker-toggle matSuffix [for]="returnPikcer"></mat-datepicker-toggle>
        <mat-datepicker #returnPikcer disabled="false"></mat-datepicker>
      </mat-form-field>
      <div class="d-flex justify-content-end float-right">
        <button mat-raised-button color="primary">Find your trucks</button>
      </div>
    </form>
    <div class="card-deck m-3">
      <div class="card">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/truck-rental-265020.appspot.com/o/pick%20up%20truck.png?alt=media&token=67e3db8e-5436-4f32-a299-5e3f34db3598"
             style="height: 180px">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-truck-pickup"></i> Pick Up Truck</h5>
          <p class="card-text">
           Find Your Favorite Pick Up Trucks in MSI Truck Rental.
          </p>
        </div>
        <div class="card-footer" style="background: inherit">
          <a mat-raised-button color="primary" (click)="toPickUpOnly()">Reserve Now</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top"
             src="https://firebasestorage.googleapis.com/v0/b/truck-rental-265020.appspot.com/o/van%20truck.png?alt=media&token=4110625f-4888-4464-b547-2b6ff2e049e4"
             style="height: 180px">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-shuttle-van"></i> Van Truck</h5>
          <p class="card-text">
            Find Your Favorite Van Trucks in MSI Truck Rental.
          </p>
        </div>
        <div class="card-footer" style="background: inherit">
          <a mat-raised-button color="primary" (click)="toVanOnly()">Reserve Now</a>
        </div>
      </div>
      <div class="card">
        <agm-map style="height: 180px" [latitude]="latitude" [longitude]="longitude" [zoom]="zoomLevel"
                 [streetViewControl]="false" [mapDraggable]="false" [styles]="mapTypeControlOptions" [zoomControl]="true">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
        <div class="card-body">
          <h5 class="card-title">Contact Us</h5>
          <p><i class="fas fa-phone-square-alt"></i> 800-111-2222</p>
          <p><i class="fas fa-map-marker-alt"></i> 5 Independence Way, Princeton, NJ 08540</p>
        </div>
        <div class="card-footer" style="background: inherit">
          <a href="http://www.facebook.com">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="http://www.google.com" style="color: red">
            <i class="fab fa-google fa-2x ml-3"></i>
          </a>
          <a href="http://www.twitter.com">
            <i class="fab fa-twitter fa-2x ml-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<footer class="py-4 bg-primary justify-content-center text-black-50 fixed-bottom">-->
<!--  <div class="container text-center">-->
<!--    <h5>Copyright &copy; 2020</h5>-->
<!--  </div>-->
<!--</footer>-->
