<div>
  <div>
    <h6>ADDITIONAL DRIVERS</h6>
    <p>Additional Drivers are any drivers other than the Renter. The Renter is always the credit card holder. Additional
      Drivers must be present with a valid license at any affiliated U-Save Car and Truck Rental location at the time of
      or prior to rental. No photo copies accepted under any circumstances. Additional Drivers can be added to the
      agreement after the rental has been opened. Both Renter and Additional Driver must be present at the location
      together to add a driver after the agreement has been opened. Once an Additional Driver is added to an agreement,
      they can not be removed before the end of the contract. The fee for any Additional Driver is $10 USD per day per
      person.</p>
    <h6>AFTER HOURS</h6>
    <p>Hours of operation for vehicle return are 7 AM to 6:30 PM Monday through Friday and 7 AM to 4:30 PM Saturday and
      Sunday. After hours drop off is permitted. The Renter and Additional Drivers are responsible for the rental
      vehicle
      until the vehicle is physically checked in by Adventure Rental personnel. Damage occurring to the rental vehicle
      before it is physically checked in by Adventure personnel will be charged to the Renter. Rental charges will be
      closed out as of 7 AM of the following morning. If damage to the vehicle is found upon inspection of the vehicle,
      Adventure Rental reserves the right to wait until management is present to inform the renter of said damage.</p>
    <h6>AGE</h6>
    <p>Minimum age to rent and or drive a vehicle is 21 years of age. Renters under the age of 25 will be charged $20
      USD
      per day per person. Adventure Rental reserves the right to charge $25 USD per day per person for certain vehicles.
      .
      BUSINESS HOURS
      Business hours are 7 AM to 7 PM Monday through Friday and 7 AM to 5 PM Saturday and Sunday. However, vehicle
      returns
      will only be accepted as late as 6:30 PM Monday through Friday and 4:30 PM Saturday and Sunday.</p>
    <h6>CANCELLATION</h6>
    <p> CANCELLATIONS IN OUR ALLSTON LOCATION MUST BE MADE AT LEAST 48 Hours PRIOR TO PICK UP TIME FOR ALL VEHICLES ALL
      OTHER LOCATIONS REQUIRE 96 HOURS. ***A NON REFUNDABLE DEPOSIT EQUIVALENT TO A ONE DAY RENTAL +TAXES AND SURCHARGES
      WILL BE CHARGED TO ALL RESERVATIONS NOT CANCELLED ACCORDING TO THE LOCATION POLICY.</p>
    <h6>DRIVERS LICENSE</h6>
    <p>An acceptable, valid drivers license must be presented at the time of rental. The drivers license must be valid for
      the entire rental period. If the drivers license is in a language other than English, an International Drivers
      Permit is recommended. A passport issued from your home country with a valid visa must be provided, whether you
      possess an International Drivers Permit or if your license is in a language other than English. You will not be
      allowed to rent a U-Save Car and Truck Rental vehicle with only an International Drivers Permit. Temporary licenses
      are acceptable as long as a second form of identification. Any license without a visible picture is not valid. For
      any questions pertaining to second forms of identification, please call (781) 899-0667.</p>
  </div>
  <button mat-raised-button color="primary" (click)="close()">Close</button>

</div>

